body {
    font-family: "Roboto Mono", sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #16161a;
    color: #fffffe;
}

.vertical-container {
  width: 100%;
  height: fit-content;
  display: grid;
  align-items: center;
  justify-content:  center;

}

.container {
  width: 100%;
  padding-bottom: 5px;
  height: fit-content;
  background: #16161a;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.right-container{
  display:flex;
  height: 100%;
  width:fit-content;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  top:0px;
  padding-block: 2%;
  padding-left: 5%;
  text-align: left;
  margin-left: auto; 
  margin-right: 0;
}

.left-container{
  display:flex;
  height: 100%;
  width:100%;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  top:0px;
  margin-right: auto; 
  margin-left: 0;
  text-align: left;
}

.btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: #7f5af0;
    color: #fffffe;
    cursor: pointer;
    font-family: "Roboto Mono", sans-serif;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: small;
}

.btn:hover {
    background-color: #553ba3;
}

.icon-btn {
  padding-left:8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 6px;
  border: none;
  background-color: #7f5af0;
  color: #fffffe;
  cursor: pointer;
  font-family: "Roboto Mono", sans-serif;
  border-radius: 5px;
  font-size: small;
}

.icon-btn:hover {
  background-color: #553ba3;
}

.header {
  overflow: hidden;
  background-color: #16161a;
  padding: 10px 10px;
}

.header a {
  float: left;
  color: #fffffe;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  color: #fffffe;
  font-weight: bold;
}

.header a.active {
  color: #2cb67d;
}

.header a:hover {
  color: #2cb67d;
}

.header-right {
  float: right;
}

#speed-label {
  margin-bottom: 1%;
  font-size: x-small;
}


.section-gray {
    height: fit-content; 
    width: fit-content;
    background: #242629;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%; 
    padding-top: 2%;
    padding-bottom: 2%; 
}


.section-gray h1 {
    text-align: center;
    width: 100%;
    font-size:xx-large;
    font-family: "Libre Franklin", sans-serif; 
    color: #fffffe;
    font-weight: bold;
}


.section-gray h2 {
    text-align: left;
    width: 100%;
    padding:0%;
    margin-top: 0%;
    font-size:x-large;
    font-family: "Libre Franklin", sans-serif; 
    color: #fffffe;
    font-weight: bold;
}

.section-gray h3 {
    text-align: left;
    width: 100%;
    padding:0%;
    font-size:medium;
    font-family: "Roboto Mono", sans-serif; 
    color: #fffffe;
    font-weight: bold;
}

.section-gray p {
    width: 100%;
    margin-bottom: 2%;
    font-family: "Roboto Mono", sans-serif;
    text-align: left;
    font-size:medium;
    color: #94a1b2;
    
}

.section-gray p2 {
    width: 100%;
    margin-bottom: 2%;
    font-family: "Roboto Mono", sans-serif;
    text-align: left;
    font-size:1.05em;
    color: #94a1b2;
    
}

.demo-btn {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  background-color: #7f5af0;
  color: #fffffe;
  cursor: pointer;
  font-family: "Roboto Mono", sans-serif;
  margin-right: 10px;
  border-radius: 4px;
}

.demo-btn:hover {
  background-color: #553ba3;
}

a:hover {
  color: #2cb67d;
}

a {
  color: #94a1b2;
  text-decoration: none;
}

.mobile {
  display: none;
}

.tablet {
  display: none;
}

#hamburger-menu {
  display: none;
}

@media screen and (max-width: 500px) {
  .header a {
    float: top;
    display: block;
    text-align: left;
  }

  .hidden-menu {
    float:none; 
  }

  .hidden-menu a {
    float:none; 
  }

  .header-right#hamburger-icon { 
    float: right;
  }

  .header a.logo {
    width:min-content
  }

  .container {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .demo-btn {
    margin: 20px;
    font-size: medium;
  }

  .section {
    margin-left: 5%;
    margin-right:5%; 
  }

  .section-gray { 
    padding-left: 10%; 
    padding-right: 10%; 
  }

  .mobile {
    display: block;
  }

  .mobile-hide {
    display: none; 
  }

  .tablet {
    display: block;
  }
  
  .tablet-hide {
    display: none;
  }

  .icon-btn {
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
  }
}



@media screen and (max-width: 850px) and (min-width: 501px) {
  .tablet {
    display: block;
  }
  
  .tablet-hide {
    display: none;
  }
}
